<% content_for :title, @law.name + " - TodoLegal" %>

<script>
function onIndexElementClicked(section_id) {
  console.log(section_id)
  document.getElementById(section_id).scrollIntoView({block:'center'});
}
</script>

<div class="container" data-spy="scroll" data-target="#myScrollspy">
  <%= render 'law_header' %>

  <div class="row">
  <div class="col-12 col-sm-8 col-lg-9">
    <div class="container-fluid container--article" style="padding-top:60">
      <%= render 'navbar_subbar' %>
        
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="articulos" role="tabpanel" aria-labelledby="articulos-tab">
          <%= render 'content' %>
        </div>
        <div class="tab-pane fade show" id="indice" role="tabpanel" aria-labelledby="indice-tab">
          <%= render 'indice' %>
        </div>
        <div class="tab-pane fade show" id="modifications" role="tabpanel" aria-labelledby="modifications-tab">
          <%= render 'modifications_tab' %>
        </div>
        <div class="tab-pane fade show" id="related" role="tabpanel" aria-labelledby="related-tab">
          <%= render 'related_tab' %>
        </div>
    </div>
    </div>

    <div class="col-12 col-sm-4 col-lg-3">
       
        <i class="fas fa-link subbar-icon" data-toggle="tab" href="#related"></i>
              Relacionados


        <% if @laws_array %>
            <div class="row">
              <% i = 0 %>
              <% @laws_array.each do |law| %>
                <% i+=1 %>
                <div class="collapsable-law-cards col-12" style="display:<%= i>6 ? 'none' : 'block' %>">
                  <div class="card card-body h-100" style="padding:0px">
                    <a class="" href="<%= law_path(law) %>" style="padding:20px">
                      <p style="font-size: 15px">
                        <% law.materia_names.each do |materia_name| %>
                          <span class="badge badge-light badge-secondary"><%= materia_name %></span>
                        <% end %>
                      </p>
                      <h5 class="card-title"><%= law.name %></h5>
                      <p class="primaryinfo">[<%= law.creation_number %>]</p>
                      <p class="primaryinfo"><%= law.articles.count %> artículos</p>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>

            <br>

            <% if @laws_array.size > 0 %>
              <hr>
            <% end %>
          <% end %>
    </div>

    <div class="wrapper">
      <%= render 'sidebar_indice' %>
    </div>
    </div>
    <% if !@user_can_access_law %>
      <!-- Modal -->
      <div class="modal fade" data-keyboard="false" data-backdrop="static" id="modalCreateBasicAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, :back, style:"font-size: 1.5rem; color:black;" %>
                    <p  style="font-size:22px; text-align:center; display:inline; margin-left: 8%;">
                    <b>Regístrate y accede a esta ley</b>
                    </p>
                  </div>
                  <div class="col-md-12">
                    <p style="font-size:18px; text-align:center; padding-bottom: 22px; padding-top: 22px;">
                    Crea una cuenta y accede a más de <b>150 documentos</b> de Legislación Hondureña y recibe boletines informativos.
                  </p>
                  </div>
                  <div class="col-md-12">
                    <a href="<%= new_user_registration_path %>?go_to_law=<%=@law.id%>">
                      <button type="button" class="btn btn-primary btn-block">Crear cuenta</button>
                    </a>
                  </div>
                  <div class="col-md-12">
                      <div with="100%" style="text-align:center; padding-top: 22px;">
                        ¿Ya tienes cuenta?
                      </div>
                      <div with="100%" style="text-align:center;">
                        <a style="font-size:18px;text-align:center;" href="<%= new_user_session_path %>?go_to_law=<%=@law.id%>">
                          Inicia sesión
                        </a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Modal-->
    <% end %>
  </div>
</div>